!!! Strict
%html
	%head
		%meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
		%link{:rel => "stylesheet", :href => "/css/reset.css"}
		%link{:rel => "stylesheet", :href => "/css/text.css"}
		%link{:rel => "stylesheet", :href => "/css/960.css"}
		%link{:rel => "stylesheet", :href => "/css/site.css"}
		
		%script{:type => "text/javascript", :src => "/js/jquery-1.4.3.min.js"}
		%script{:type => "text/javascript", :src => "/js/jquery.trackstar.js"}
		%title
			= "#{@title} - Naglight"
	%body
		#page
			#header
				.container_12
					#grid_header.grid_12
						#logo.grid_2.alpha
							%a{:href => "/"} Naglight Logo!
						
						.grid_2.menu
							%ul
								%li
									%a{:href => "/allhosts"} All hosts
								%li By groups (Grid)
								%li By groups (Sum)
	
						.grid_2.menu
							%ul
								%li
									%a{:href => "/allservices"} All services
								%li Services groups
								%li By groups
	
						.grid_2.menu
							%ul
								%li Host Problems
								%li Service Problems
								%li Pending services
								%li Unchecked services
	
						.grid_2.omega.menu
							%ul
								%li Comments
								%li Downtimes
								%li Events foobarbaz
								%li Logs
								%li
									%a{:href => "/contacts"} Contacts
	
						.clear

			#content
				.container_12
					#grid_content.grid_12
						= yield
					.clear

			#footer
				.container_12
					#grid_footer.grid_12
						Powered by
						%a{:href => "http://github.com/rhaamo/naglight", :target => "_blank"} Naglight
						and
						%a{:href => "http://mathias-kettner.de/checkmk_livestatus.html", :target => "_blank"} MK Livestatus
						%br
						%a{:href => "/api"} Naglight API
					.clear