body {
	background-color: #D1D1D1;
}

div#header {
	margin-top: 2em;
/*	height: 4em;*/
}

div#grid_header {
	border-bottom: 1px solid #525252;
}

div#grid_header #logo {
/*	line-height: 4em;*/
}

div#grid_header .menu a {
	font-family: Arial;
	font-size: 10pt;
	color: black; /*#525252*/
	text-decoration: none;
}

div#content {
	margin-top: 2em;
	margin-bottom: 2em;
	min-height: 20em;
}

div#grid_content {
	padding-top: 1em;
	font-family: Arial;
	font-size: 12pt;
}

div#footer {
	margin-top: 2em;
	margin-bottom: 2em;
	height: 3em;
}

div#grid_footer {
	line-height: 3em;
	font-family: Arial;
        font-size: 11pt;
        color: #313131;
	border-top: 1px solid #525252;
	text-align: center;
}

.hrrr {
	color: #1E1E1E;
        background-color: #1E1E1E; /* for gecko */
        border-color: #484848;
}

.no-puce {
	list-style-type: none;
}

.table_list_hosts {
	font-size: 10pt;
	background-color: #E9E9E9;
}

.table_list_hosts td {
	border: 1px solid #ACACAC;
}

.table_list_hosts td .srvc_ok {
	background-color: #00AE2A;
	color: white;
}

.table_list_hosts td .srvc_warn {
	background-color: #FFFE00;
	color: black;
	font-style: bold;
}

.table_list_hosts td .srvc_unkn {
	background-color: #FF7600;
	color: white;
}

.table_list_hosts td .srvc_crit {
	background-color: #AD0203;
	color: white;
	font-style: bold;
}

.table_list_hosts td .srvc_pend {
	background-color: #757575;
	color: white;
}

.table_list_hosts td .host_state_ok {
	background-color: #00AE2A;
	color: white;
}

.table_list_hosts td .host_state_critical {
	background-color: #AD0203;
	color: white;
	font-style: bold;
}

.table_list_hosts td .host_state_warning {
	background-color: #FFFE00;
	color: black;
	font-style: bold;
}

.table_list_hosts td .host_state_unknown {
	background-color: #FF7600;
	color: white;
}

.table_list_hosts td .nbsp {
	border-color: none;
	border-size: 0px;
}

.table_list_hosts th {
	background-color: #96ADAD;
	border: 1px solid #ACACAC;
}

.table_list_hosts th .nbsp {
	border-color: none;
	border-size: 0px;
}

.table_list_hosts tr {
	
}