body {
	background-color: #D1D1D1;
}

div#header {
	margin-top: 2em;
/*	height: 4em;*/
}

div#grid_header {
	border-bottom: 1px solid #525252;
}

div#grid_header #logo {
/*	line-height: 4em;*/
}

div#grid_header .menu a {
	font-family: Arial;
	font-size: 10pt;
	color: black; /*#525252*/
	text-decoration: none;
}

div#content {
	margin-top: 2em;
	margin-bottom: 2em;
	min-height: 20em;
}

div#grid_content {
	padding-top: 1em;
	font-family: Arial;
	font-size: 12pt;
}

div#footer {
	margin-top: 2em;
	margin-bottom: 2em;
	height: 3em;
}

div#grid_footer {
	line-height: 3em;
	font-family: Arial;
        font-size: 11pt;
        color: #313131;
	border-top: 1px solid #525252;
	text-align: center;
}

.hrrr {
	color: #1E1E1E;
        background-color: #1E1E1E; /* for gecko */
        border-color: #484848;
}

.no-puce {
	list-style-type: none;
}

/* HOSTS LIST */

.table_list_hosts {
	font-size: 10pt;
	background-color: #E9E9E9;
}

.table_list_hosts td {
	border: 1px solid #ACACAC;
}

.table_list_hosts td.srvc_ok {
	background-color: #00AE2A;
	color: white;
}

.table_list_hosts td.srvc_warn {
	background-color: #FFFE00;
	color: black;
	font-style: bold;
}

.table_list_hosts td.srvc_unkn {
	background-color: #FF7600;
	color: white;
}

.table_list_hosts td.srvc_crit {
	background-color: #AD0203;
	color: white;
	font-style: bold;
}

.table_list_hosts td.srvc_pend {
	background-color: #757575;
	color: white;
}

.table_list_hosts td.host_state_up {
	background-color: #00AE2A;
	color: white;
}

.table_list_hosts td.host_state_down {
	background-color: #AD0203;
	color: white;
	font-style: bold;
}

.table_list_hosts td.host_state_unreach {
	background-color: #FFFE00;
	color: black;
	font-style: bold;
}

.table_list_hosts th {
	background-color: #96ADAD;
	border: 1px solid #C0C0C0;
	color: white;
}

.table_list_hosts th.nbsp {
	border-top: none;
	border-bottom: none;
	background-color: #D1D1D1;
}

.table_list_hosts td.nbsp {
	border-top: none;
	border-bottom: none;
	width: 2em;
	background-color: #D1D1D1;
}

.table_list_hosts tr {
	
}

.table_list_hosts td { vertical-align:middle;height:30px; }

.table_list_hosts .nbsp { border:1px solid #d1d1d1; } /* hide line */

.table_list_hosts td.host_icon {
}

.table_list_hosts td img { padding-top:3px }

/* END HOSTS LIST */

/* SERVICES LIST */

.table_list_services {
	font-size: 9pt;
}

.table_list_services th {
	background-color: #7F9D9D;
	border: 4px solid #D1D1D1;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}

.table_list_services td.nbsp {
	background-color: #D1D1D1;
}

.table_list_services td {
	border: 4px solid #D1D1D1;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

.table_list_services td.service_host {
	padding-right: 5px;
}

.table_list_services td.service_name {
	width: 11em;
}

.table_list_services td.service_state {
	width: 6em;
}

.table_list_services td.service_last_check {
	width: 16em;
}

.table_list_services td.service_duration {
	width: 11em;
}

.table_list_services td.service_attempt {
	width: 5em;
}

.services_row0 {
	background-color: #D2D2D2;
}

.services_row1 {
	background-color: #B7B4B4;
}


.table_list_services td.service_ok {
	background-color: #00AE2A;
	color: white;
}




.table_list_services tr.srvc_warn {
	background-color: #FFFE00;
	color: black;
	font-style: bold;
}

.table_list_services tr.srvc_unkn {
	background-color: #FF7600;
	color: white;
}

.table_list_services tr.srvc_crit {
	background-color: #AD0203;
	color: white;
	font-style: bold;
}

.table_list_services tr.srvc_pend {
	background-color: #757575;
	color: white;
}

/* END SERVICES LIST */

/* OVERLAY */

.hidden-overlay {
	display: none;
}

#tooltip-preview {
	border: 1px solid grey;
	padding: 5px;
}

/* END OVERLAY */

/* EXTINFOS */

#hostinfo_name {
	font-size: 16pt;
	font-style: bold;
}

#hostinfo_address {
	font-size: 10pt;
}

#hostinfo_members_groups {
	
}

#hostinfo_notes {
	font-size: 10pt;
}

.extinfos_right {
	font-size: 10pt;
}

.extinfo_row0 {
	background-color: #DEDEDE;
}

.extinfo_row1 {
	
}

/* END EXTINFOS */

/* CONTACTS */

.allcontacts_row0 {
	background-color: #DEDEDE;
}

.allcontacts_row1 {
	
}

/* END CONTACTS */

span.host_status_up{
	background-color: #00FF16;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}
span.host_status_unreach{
	background-color: #FFFE00;
	color: black;
	font-style: bold;
	padding-left: 5px;
	padding-right: 5px;
}
span.host_status_down{
	background-color: #AD0203;
	color: white;
	font-style: bold;
	padding-left: 5px;
	padding-right: 5px;
}
span.flapping_yes {
	background-color: #AD0203;
	color: white;
	font-style: bold;
	padding-left: 5px;
	padding-right: 5px;
}
span.flapping_no {
	background-color: #00FF16;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}
span.disabled {
	background-color: #AD0203;
	color: white;
	font-style: bold;
	padding-left: 5px;
	padding-right: 5px;
}
span.enabled {
	background-color: #00FF16;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
}

table.table_list_hosts td.host_name {
	padding-left: 5px;
	padding-right: 5px;
}

span.host_name_left {
	text-align: left;
}
span.host_name_right {
	float: right;
}

.extinfos_link_view_details {
	text-decoration: none;
}

.icon_link_view_details {
	margin-bottom: -2px;
}