API Index
%br
%br
%p
	Normal is an Array Of Hashes for each object. Using Normal is recommanded (and better than RAW).
	%br
	RAW is the pure MK Livestatus JSON stream, a list of list with the first element
	as headers. (Just add /raw to the end of the URL)
	%br
	%br

%ul
	%li
		%a{:href => "/api/get/allhosts"}
			\/api/get/allhosts
		It's the "services" table of MK Livestatus, also contains all infos from "hosts", better than doing two querys: host then services.
	%li
		%a{:href => "/api/get/contacts"}
			\/api/get/contacts
%br
