API Index
%br
%br
%p
	Normal is an Array Of Hashes for each object.
	%br
	RAW is the pure MK Livestatus JSON stream, a list of list with the first element
	as headers.
	%br
	%br

%ul
	%li
		Normal:
		%a{:href => "/api/get/allhosts"}/api/get/allhosts
	%li
		RAW:
		%a{:href => "/api/get/allhosts/raw"}/api/get/allhosts/raw
	%li
		Normal:
		%a{:href => "/api/get/contacts"}/api/get/contacts
	%li
		RAW:
		%a{:href => "/api/get/contacts/raw"}/api/get/contacts/raw
