%table{:border => 0}
	%tr
		%th state
		%th Host
		%th Icon
		%th OK
		%th Warn
		%th Unkn
		%th Crit
		%th Pend
	%tr
		- @allhosts.each do |host|
			%td = human_state(host[:state])[0]
			%td = host[:name]
			%td
				%img{:src => "http://monitorix.fr.srv.rhaamo.li/nagios3/images/logos/#{host[:icon_image]}", :alt => host[:icon_image_alt]}
			%td = host[:num_services_ok]
			%td = host[:num_services_warn]
			%td = host[:num_services_crit]
			%td = host[:num_services_pending]
